.icon-bar {
    position: fixed;
    top: 70%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-66%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 20px;
    opacity: 0.65;
  }
  
  .icon-bar a:hover {
    opacity: 0.8;
  }