@import url("fonts.css");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

.library {
    display: none;
}

img {
    width: 100%;
    height: 202px;
}

.img-main {
    width: 100%;
    height: 400px;
}

@media (max-width: 600px) {
    .library {
        max-width: 100%;
    }
}

.path2, .path3 {
    display: none;
    position: fixed;
    top: 0;
}

@keyframes animation1 {
    from{
        display: block;
    }
    to{
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .library {
        display: block;
    }
}