/* Column container */
.row-content {  
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Left column */
  .left-col {
    flex: 50%;
    padding: 0px 20px 100px 100px;
  }
  
  /* Right column */
  .right-col {
    flex: 50%;
    padding: 0px 100px 100px 0px;
  }
  @media screen and (max-width: 833px) {
    .row-content {   
      flex-direction: column;
    }
  
    .left-col {
      padding: 10px;
    }
  
    .right-col {
      padding: 10px;
    }
  }
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row-content {   
      flex-direction: column;
    }
  
    .left-col {
      padding: 10px;
    }
  
    .right-col {
      padding: 10px;
    }
  }
  
  