.slide div{
    height:325px;
    width: 100%;
  }
  
  .owl-carousel {
    position: relative;
  }
  
  .owl-carousel:hover .owl-nav {
    display: flex;
  }
  
  .owl-carousel .owl-nav {
    position: absolute;
    top: 29%;
    display: none;
    width: 100%;  
    justify-content: space-between;
  }
  
  .owl-carousel .owl-nav button {
    width: 40px;
    height: 40px;
  }
  
  .owl-carousel .owl-nav button span {
    font-size: 20px;
    color: black;
  }
  @media screen and (max-width: 1043px){
    .slider-content_p{
      font-size: 16px;
      margin-top: 27px;
      margin-right: 49px;
    }
    .slider-content_p_mr{
      font-size: 17px;
    }
    .slider-content img{
      padding: 29px 10px;
    }
}
@media screen and (max-width: 768px) {
  .slider-content{
    display: block !important;
  }
  .owl-carousel .owl-item img {
    display: inline-block !important;
    /* width: 100%; */
  }
  .slider-content img{
    width: 31% !important;
    height: auto !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
  }
  .slider-img{
    padding: 19px 0 0 0 !important;
  }
  .slider-content_p{
    margin: 0 !important;
    padding: 1rem;
    text-align: justify !important;
    word-spacing: 2px;
  }
  .slider-content_p_mr{
    margin-top:0 !important;
  }
  .slide div{
    height: auto !important;
  }
}