/* import fonts from css file */
@import url(./font.css);

/* import variables file */
@import url(./partials/_variables.css);

.site-product {
	/* display: flex; */
	width: 100%;
}

.site-product > .row {
	margin: 0;
}

.stie-product .banner-container {
	display: inline-block;
	overflow: hidden;
}

.site-product .banner-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	opacity: 0.7;
	/*	  transform: translate(	-50%);*/


}

.site-product .product-img {
	width: 100%;
	height: auto;
	padding: 0px 25px 0 25px;
}


.site-product .product-list .product-item {
	border: 0.1px solid;
	color: #626262;
	background-color: #f9f9f9;
}

.site-product .product-list .product-item:hover {
	-webkit-box-shadow: inset 1px -13px 21px -7px rgba(171, 126, 87, 0.89);
	-moz-box-shadow: inset 1px -13px 21px -7px rgba(171, 126, 87, 0.89);
	box-shadow: inset 1px -13px 21px -7px rgba(171, 126, 87, 0.89);
}

.product-list .product-item .product-content {
	line-height: 1.4;
	padding: 0 11px;
	padding-bottom: 20px;
	padding-top: 40px;
}

.product-list .product-item .product-content a {
	text-decoration: none;
}

.product-list .product-item .product-content a:hover {
	cursor: pointer;
	color: firebrick;
}

.site-product .banner-content {
	font-family: 'Roboto-Bold', Arial, sans-serif;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	line-height: 1.4;
	margin-bottom: 25px;
	z-index: 1;
}

/* Button */
.btn {
	background-color: #eeeeee;
	transition: background 1s ease;
}

.btn-other:hover {
	color: var(--text-brown);
	background: whitesmoke;
	background-clip: padding-box;
}

.date-rating {
	display: flex;
	justify-content: space-between;
	padding: 0;
	padding-right: 26px;
}

.list-star i:hover {
	color: var(--text-brown);
}

/*popup product*/
div[id*="product-popup-"] {
	position: fixed;
	top: -2rem;
	z-index: 2;
	left: 2rem;
	right: 0;
	bottom: 0;
}

div[id*="product-popup-"] ul,
ol {
	padding-left: 0;
}

.preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-right: 15px;
	height: 100%;
}

.preview-pic {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
	border: none;
	margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
	width: 18%;
	margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
	max-width: 100%;
	display: block;
}

.preview-thumbnail.nav-tabs li a {
	padding: 0;
	margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
	margin-right: 0;
}

.tab-content {
	overflow: hidden;
}

.tab-content img {
	width: 100%;
	-webkit-animation-name: opacity;
	animation-name: opacity;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
}

/* .card {
	margin-top: 10%;
	background: #fff;
	padding: 3em;
	line-height: 1.5em;
	border: 2px solid var(--text-brown);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
} */

.popup-close {
	position: absolute;
	top: -15px;
	right: -15px;
	display: block;
	z-index: 2;
	box-sizing: content-box;
	width: 1em;
	height: 1em;
	background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
	filter: invert(1);
	padding: 0.25em 0.25em;
	color: #eee;
	border: 0;
	border-radius: 0.25rem;
	background-color: #636161;
	border: 2px solid #636161;
}

.popup-close:hover {
	filter: invert(0);
	background-color: #eee;
	border: 2px solid var(--text-brown);
}

.details {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 15px;
}



.product-title,
.popup-pd-desciption,
.sizes,
.colors {
	/* text-transform: UPPERCASE; */
	color: #636161;
	font-weight: bold;
}

.checked,
.price span {
	color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.popup-pd-desciption,
.vote,
.sizes {
	margin-bottom: 15px;
}

.popup-pd-desciption {
	border-bottom: 2px solid #636161;
}

.product-title {
	margin-top: 0;
}

.details > .row ul {
	list-style: none;
	line-height: 4;
}

.size {
	margin-right: 10px;
}

.size:first-of-type {
	margin-left: 40px;
}

.color {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	height: 2em;
	width: 2em;
	border-radius: 2px;
}

.color:first-of-type {
	margin-left: 20px;
}

.list-3-sanpham {
	margin: 50px 0;
}

/*Zoom*/
.zoom {
	display: inline-block;
	position: relative;
	
}

.zoom:after {
	content: '';
	display: block;
	width: 33px;
	height: 33px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(icon.png);
	z-index: 1;
}

.zoom img {
	display: block;
}

.zoom img::selection {
	background-color: transparent;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 30px;
}
/* @media screen and (max-width: 600px){
    .site-product .banner-img {
		height: 360px;
        width: 100%;
        object-fit: cover;
        opacity: 0.7;
    }
	.pop{
        display: flex;
    flex-direction: row;
    }
} */